// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  text-align: center;
  color: white;
  background-color: #383d41;
  padding: 4em;
  height: 20vh;
  img {
    max-width: 100%;
    margin: 1.5em auto;
  }
  .text {
    text-align: left;
  }
}