// section second for Inelis project

.sectionSecond {
  height: 40vh;
  //background-color: #b3d7ff;
  background-image: url("../../assets/server.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  //background-origin: content-box;
  background-size: cover;

}