.my-map {

}
#map {
  height: 75vh;
  opacity: 0.9;
}

.contact-form {
  input,textarea {
    width: 100%;
    height: 3em;
    border: none;
    border-bottom: 2px solid rgb(231, 231, 231);
    background-color: transparent;
    &[type="submit"] {
      width: auto;
      height: auto;
      background-color: #10B1B3;
      padding: 1em;
      color: #fff;
      text-transform: uppercase;
      border-radius: 0;
      font-weight: bold;
      &:hover {
        background-color:  #354252;
      }
    }
  }
  textarea {
    height: 3em;
  }
}