.back-to-top {

  display: none;
  margin: 0;
  position: fixed;
  bottom: 3em;
  right: 7em;
  background-color: transparent;
  z-index: 100;
  text-decoration: none;
  color: #ffffff;
  padding: .5em;

  &:hover {
    //background-color: rgba(53,66,82,0.5);
  }
  @media   (max-width: 530px) {
    & {
      display: none;
    }
  }

}
.back-to-top i {
  font-size: 60px;
}